<div class="text-center mt-4 px-3">
  <h2 class="text-xl md:text-2xl fw-bold text-dark mb-2">
   ¡Vamos por esos <span style="color: var(--text-color-orange);">{{ progressMessage.targetAmount }}</span> para
    <span style="color: var(--text-color-orange);">{{ progressMessage.objective }}</span>!
  </h2>
<p class="fs-5 mb-2">{{ progressMessage.subtitle }}</p>
  <div class="d-flex justify-content-center align-items-center gap-2">
    <span class="fw-semibold text-dark fs-5 mb-2">{{ progressMessage.actionText }}</span>
    <img src="assets/icons/Group 12953.svg" alt="home" width="22" height="22" class="me-3" />

  </div>
</div>
