<div class="position-relative px-4 py-5 bg-custom">
  <div class="container">
    <div class="row justify-content-center">
      <nav class="d-flex align-items-center text-white mb-4 small">
        <div class="d-flex align-items-center">
          <img src="assets/icons/home (1).svg" alt="home" width="22" height="22" class="me-3" />
          <a href="/dashboard" class="text-white fw-bold">
            Ir al inicio
          </a>
        </div>
      </nav>




      <div class="col-lg-8">
        <div class="text-center text-white mb-4">
          <h1 class="text-2xl font-bold mb-2 text-white">¡Tu objetivo ha sido agregado exitosamente!</h1>
          <p class="text-lg text-white opacity-95">
            ¡Te hemos enviado un correo con la notificación!
          </p>
        </div>



      </div>
    </div>
    <div class="text-center">
      <app-objectivecard></app-objectivecard>
    </div>
  </div>
</div>

<div class="py-5 mt-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <app-progress-message-component></app-progress-message-component>
      </div>
    </div>
  </div>
</div>


<div class="pb-5 d-flex justify-content-center align-items-center" style="min-height: 50vh;">
  <app-financialcard></app-financialcard>
</div>


