<div class="position-relative px-4 py-5 bg-custom">
  <div class="container">
    <div class="row justify-content-center">
      <nav class="flex items-center text-white mb-4 text-sm">
        <div class="flex items-center gap-1">
          <img src="assets/icons/home (1).svg" alt="home" class="w-4 h-4" />
          <a href="/dashboard" class="text-white no-underline hover:underline">
            Ir al inicio
          </a>
        </div>
      </nav>

      <div class="col-lg-8">
        <div class="text-center text-white mb-4">
          <h1 class="text-2xl font-bold mb-2 text-white">¡Tu objetivo ha sido agregado exitosamente!</h1>
          <p class="text-lg text-white opacity-95">
            ¡Te hemos enviado un correo con la notificación!
          </p>
        </div>



      </div>
    </div>
    <div class="text-center">
      <app-objectivecard></app-objectivecard>
    </div>
  </div>
</div>
