/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";

:root {
  --background-color-principal: #00C83C;
  --background-color-principal-gray:#E2E2E2;
  --text-color-orange: #FE9200;
}
